<div class="modal-header">
	<h4 class="modal-title" >Hey!! <span class="pull-right"><a (click)="onNoClick()"><i class="fa fa-times"></i></a></span> </h4>
</div>
<div class="modal-body">
	<div >
		<p >Are you sure you want to delete this degree? </p>
	</div>
	<div  >
		<button class="btn btn-round btn-mat btn-disabled btn-success" style="width: 48%" (click)="onYesClick()">Yes</button>
		<button class="btn btn-round btn-mat btn-disabled btn-danger" style="width: 48%" (click)="onNoClick()">No Thanks</button>
	</div>
</div>